.bg-rsue {
    background-color: #0e1060;
}
div.username a {
    color: white !important;
}
div.username a {
    color: white !important; /* Цвет посещенных ссылок */
}
div.username a {
    color: white !important; /* Цвет активных ссылок */
}
a.navbar-brand img {
    height: 40px !important;
}