{% extends "layouts/page-layout.html" %}
{% load static extra_settings widget_tweaks  %}

{% block content  %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 justify-content-center text-center mt-4">
            <h1>Поиск загруженных файлов</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 md-6 col-lg-6">
            <form action="" method="get">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="id_{{ form.year.name }}" class="fw-bold form-label mt-2">
                            {{ form.year.label }}
                        </label>
                        {{ form.year|add_class:"form-select" }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <label for="id_{{ form.level_education.name }}" class="fw-bold form-label mt-2">
                            {{ form.level_education.label }}
                        </label>
                        {{ form.level_education|add_class:"form-select" }}
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="id_{{ form.qualification.name }}" class="fw-bold form-label mt-2">
                            {{ form.qualification.label }}
                        </label>
                        {{ form.qualification|add_class:"form-select" }}
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="id_{{ form.teacher_full_name.name }}" class="fw-bold form-label mt-2">
                            {{ form.teacher_full_name.label }}
                        </label>
                        {{ form.teacher_full_name|add_class:"form-control" }}
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="id_{{ form.students_full_name.name }}" class="fw-bold form-label mt-2">
                            {{ form.students_full_name.label }}
                        </label>
                        {{ form.students_full_name|add_class:"form-control" }}
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary">Поиск</button>
                        <a class="btn btn-danger" href="{% url 'list-package-documents' %}">Сбросить фильтры</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered mt-4">
                <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Год</th>
                      <th scope="col">Уровень образования</th>
                      <th scope="col">Код и наименование ООП</th>
                      <th scope="col">Научный руководитель</th>
                      <th scope="col">Обучающийся</th>
                      <th scope="col">Дата и время создания</th>
                      <th scope="col">Дата и время последнего обновления</th>
                      <th scope="col">Файл отзыва</th>
                      <th scope="col">Файл ВКР</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for object in page_objects %}
                    <tr>
                      <th scope="row">{{object.id}}</th>
                      <td>{{object.year}}</td>
                      <td>{{object.level_education}}</td>
                      <td>{{object.qualification}}</td>
                      <td>{{object.teacher_full_name}}</td>
                      <td>{{object.students_full_name}}</td>
                      <td>{{object.create_date}}</td>
                      <td>{{object.update_date}}</td>
                      <td><a href="{{object.review.url}}" download>{{object.review}}</a></td>
                      <td><a href="{{object.graduation_work.url}}" download>{{object.review}}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page=1">Начало</a>
                    </li>
                    <li class="page-item">
                      {% if page_objects.has_previous %}
                        <a class="page-link" href="?page={{ page_objects.previous_page_number }}">{{ page_objects.previous_page_number }}</a>
                      {% endif %}
                    </li>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">{{ page_objects.number }}</span>
                    </li>
                    <li class="page-item">
                      {% if page_objects.has_next %}
                        <a class="page-link" href="?page={{ page_objects.next_page_number }}">{{ page_objects.next_page_number }}</a>
                      {% endif %}
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_objects.paginator.num_pages }}">Конец</a>
                    </li>
                  </ul>
              </nav>
        </div>
    </div>
</div>
{% endblock %}
