{% extends "layouts/landing-layout.html" %}
{% load static extra_settings widget_tweaks  %}

{% block content  %}

<div class="container">
    <div class="row">
        <div class="col-12 justify-content-center text-center mt-4">
            <h1>Загрузка ВКР</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 md-6 col-lg-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.year.name }}" class="fw-bold form-label mt-2">
                            {{ form.year.label }}
                        </label>
                        {{ form.year|add_class:"form-select" }}
                        {{ form.year.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.level_education.name }}" class="fw-bold form-label mt-2">
                            {{ form.level_education.label }}
                        </label>
                        {{ form.level_education|add_class:"form-select" }}
                        {{ form.level_education.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.qualification.name }}" class="fw-bold form-label mt-2">
                            {{ form.qualification.label }}
                        </label>
                        {{ form.qualification|add_class:"form-select" }}
                        {{ form.qualification.errors }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.teacher_full_name.name }}" class="fw-bold form-label mt-2">
                            {{ form.teacher_full_name.label }}
                        </label>
                        {{ form.teacher_full_name|add_class:"form-control" }}
                        {{ form.teacher_full_name.errors }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.students_full_name.name }}" class="fw-bold form-label mt-2">
                            {{ form.students_full_name.label }}
                        </label>
                        {{ form.students_full_name|add_class:"form-control" }}
                        {{ form.students_full_name.errors }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                            <label for="id_{{ form.graduation_work.name }}" class="fw-bold form-label mt-2">
                                {{ form.graduation_work.label }}
                            </label>
                            {{ form.graduation_work|add_class:"form-control" }}
                            {{ form.graduation_work.errors }}

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="id_{{ form.review.name }}" class="fw-bold form-label mt-2">
                            {{ form.review.label }}
                        </label>
                        {{ form.review|add_class:"form-control" }}
                        {{ form.review.errors }}

                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button type="submit" class="mt-4 btn btn-success">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
